body{
    background-color:rgb(0, 255, 145);
}
#facultydata
{
    color:balck;
    background-color:red;
}
#visitlink
{
    color:brown;
    background-color:aqua;
}
.fun
{
    background-color:red;
}